body {
  line-height: 1.4285;
  color: rgb(51, 51, 51);
  background-color: white;
  max-width: 100%;
  margin: 0px;
}

h3 {
  text-align: center;
  margin: 100px 0px 50px 0px;
}

.listItem {
  min-height: 50px;
  margin: 20px 20px 20px -20px;
  list-style: none;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 10px 20px;
  box-shadow: 0 0 1em #80808066;
}