body {
  font-family: sans-serif, Arial, Helvetica;
  line-height: 1.4285;
  background-color: white;
  max-width: 100%;
  margin: 0px;
}

h1 {
  font-size: 50px;
  margin: 0px 0px -10px 0px;
}

h3 {
  text-align: center;
  margin: 30px 0px 20px 0px;
  flex-basis: 100%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.listItem {
  /* display: flex;
  flex-direction: column; */
  min-height: 50px;
  margin: 20px 20px 20px -20px;
  list-style: inside;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 10px 20px;
}

.review-sidebar {
  margin: 20px 20px 20px 20px;
  height: 100%;
  width: 75px;
  list-style: none;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 10px 20px;
}

.title {
  font-weight: bold;
}

#stars {
  width: 10%;
  height: 10%;
}



.author {
  font-size: 12px;
}

.date {
  font-size: 12px;
}

.review-body {
  font-size: 12px;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #77777769;
  margin: 20px 20px 20px 20px;
  text-align: center;
}

.overview-item {
  display: flex;
  border: 1px solid #77777769;
  margin: 20px 20px 20px 20px;
}

.overview-stars {
  position: center;
  margin: 20px 20px 20px 20px;
}

.overview-recommend {
  margin: 20px 20px 20px 20px;
}

.dropdowns {
  display: flex;
  background-color: #ebebebe8;
}

.dropdown {
  min-height: 20px;
  margin: 10px 5px 10px 20px;
  list-style: none;
  border: 1px solid #77777769;
  background-color: #fdfdfd;
  border-radius: 4px;
  padding: 10px 20px;

}

.svg-progress {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

.svg-circle-bg {
  fill: none;
}

.svg-circle {
  fill: none;
}
#svg-circle-text {
font-size: 15px;
text-anchor: middle;
-webkit-text-fill-color: green;
}